{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>ShutApp</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Messenger/css/base_style.css' %}">
    {% block style %}{% endblock %}
</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'main' %}">Home</a></li>
                <p></p>
                {% if user.is_authenticated %}
                    <li>Logged in account: <a href="{% url 'messenger' %}{{user.get_username}}">{{ user.get_username }}</a></li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                    <li>Not logged in</li>
                    <li><a href="{% url 'login'%}?next={{ request.path }}">Login</a></li>
                {% endif %}
                <p></p>
<!--                {% if user.is_authenticated %}-->
<!--                    <li><a href="#">Contacts</a></li>-->
<!--                {% endif %}-->
                <li><a href="{% url 'people' %}">People</a></li>
            </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 ">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
</body>
</html>