{% extends "Messenger/base_generic.html" %}
{% block title %}
<title>User does not exist</title>
{% endblock %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'Messenger/css/user_style.css' %}"/>
{% endblock %}
{% block content %}
<div align="center" class="container">
    <h1>Oops! This user does not exist.</h1>
    <button type="button"><a href="{% url 'messenger' %}">Back</a></button>
</div>

<div class="container signin">
    <p>Здесь могла бы быть ваша реклама.</p>
</div>
{% endblock %}
</body>