h1 {
    font-size: 8em;
}
    .registerbtn {

background-color: #f9b100;
color: black;
padding: 16px 20px;
margin: 0 auto;
display: block;
border-radius: 10px;
font-size: 1em;
border: none;
cursor: pointer;
width: 40%;
opacity: 0.9;
}